<div class="container">
    <div style="width: 100%;height: 66px;"></div>
    <div style="width: 100%;height: 66px;">
    <h2>User Account</h2>
    </div>
    <h3>Password change</h3>
    <label for="">Name :</label>
    <p>{{user.Uname}}</p>
    <label for="">Email :</label>
    <p>{{user.Email}} </p>
    <h3>Change and submit</h3>
    <form action="/newPassword" method="post">
    <label for="">Enter new password</label>
    <input type="text" name="password">
    <div></div>
    <input value="Submit" type="submit">
    </form>
  
    {{#if msg}}
        <p class="text-success" style="font-weight: 400; font-style: italic;">Password changed {{this.msg}} </p>
{{/if}}
</div>