
<div class="row" style="">
  <div class="col-4 my-3 justify-content-center d-flex container" style="height: 25rem; width: auto;" >
    <a href=""><img src="/product-images/62b0ca2eaa9c16289b02f4f9.jpg"
     style="border-radius: 2rem ; height: 25rem;" id="img-container" class="img-fluid image " />
    ></a>
  </div>

    <div class="col-4 my-3 justify-content-center d-flex container " style="height: 25rem; width: auto;" >
    <a href=""><img src="/product-images/62b0ca2eaa9c16289b02f4f9.jpg"
     style="border-radius: 2rem ; height: 25rem;" id="img-container" class="img-fluid image " />
    ></a>
  </div>
    <div class="col-4 my-3 justify-content-center d-flex container" style="height: 25rem; width: auto;" >
    <a href=""><img src="/product-images/62b0ca2eaa9c16289b02f4f9.jpg"
     style="border-radius: 2rem ; height: 25rem;" id="img-container" class="img-fluid image " />
    ></a>
  </div>

</div>
{{!-- <script>
    var options = {
        width: 400,
        height: 250,
        zoomWidth: 500,
        offset { vertical:0, horizontal:10},
        scale: 1.5
    }
    new ImageZoom(document.getElementById('img-container'), options)
</script> --}}
<style>
    .image {
        height: 100vh;
        transition: transform .5s ease;
    }
    .image:hover {
        transform: scale(1.2);
    }
</style>