
<section>
    <div class="container-fluid des">
        <div class="center">
             <h1>Admin Login</h1>
        <form action="/admin/login" method="post">
            <div class="text_field">
                <input type="text" name="name" id="" >
                <span></span>
                <label for="">Id :</label>
               
            </div>
            <div class="text_field">   
                <input type="password" name="pass">
                <span></span>
                <label for="">Password</label>
             
            </div>
            <div class="pass">forgot Password?</div>
            <input type="submit" value="Login"></input>
            <div class="signup-link">New In Shopiy? <a href="#">Signup</a> 
            </div>
        </form>
        </div>
    </div>
</section>